.modal {
  position: fixed;
  height: 40rem;
  top: 8vh;
  left: 5%;
  width: 90%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

@media (min-width: 1024px) {
  .modal {
    width: 50rem;
    left: calc(50% - 25rem);
  }
}

/* Modal & Backdrop Animation */

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  animation: slide-down 300ms ease-out forwards;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(3rem);
  }
}

.backdrop-enter {
  opacity: 0;
}
.backdrop-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.backdrop-exit {
  opacity: 1;
}
.backdrop-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}
