.header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #ffffff;
  color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.header h1 {
  font-size: 1.5em;
}

.header-content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.GitHubRibbon {
  fill: #748ffc;
  color: #ffffff;
  position: absolute;
  top: 0px;
  border: 0px;
  left: 0px;
  z-index: 2;
  transform: scaleX(-1);
}

.social-icons {
  position: absolute;
  right: 2em;
  display: flex;
  align-items: center;
  gap: 18px;
}

.social-icons a {
  box-sizing: border-box;
  cursor: pointer;
}

.social-icons span {
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  color: #495057;
  font-weight: 500;
}

.twitter-ic:hover svg path {
  fill: #1da1f2;
}

.fb-ic:hover svg path {
  fill: #4267b2;
}

.linkedin-ic:hover svg path {
  fill: #0077b5;
}

.logo {
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .social-icons {
    display: none;
  }

  .GitHubRibbon svg {
    width: 50px;
    height: 50px;
  }

  .header {
    height: 50px;
  }

  .logo {
    width: 179px;
  }
}
